
@import "colors";
@import "fonts";

@mixin button {
  width: 150px;
  height: 80px;
  text-transform: uppercase;
  background:$base-color;
  border:$fourth-color 3px solid;
  font-size: 20px;
  padding: 5px;
}
@mixin columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}