@import "reset";
@import "settings/colors";
@import "settings/fonts";
@import "settings/mixin";


ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  li {
    margin: 30px;
  }
}
div.main__choice {
  background:$base-color;
  width: 100%;
  height: 200px;
  button.main__choice {
    @include button;
  }
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}