@import "reset";
@import "settings/_fonts.scss";
@import "settings/_colors.scss";
@import "app";
@import "home4steps";
@import "homeThreeCol";
@import "organizations";
@import "home.scss";
@import "onas.scss";

body {
  font-family:$font-base;
  display: flex;
  .container {
    width: 1024px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
