@import "settings/mixin";

.container__o_nas {
    background-image: url(../assets/People.jpg);
    background-size: contain;   
    background-position: right;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
}
.container__o_nas__info {
    background-color: grey;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.container__o_nas__info__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.container__o_nas__info__paragraph{
    justify-content: center;
    margin: 20px;
}